body{
	margin: 0;
	padding: 0;
	font-family: arial;
	background-color: #DBD6C3
}
.imgArquivos{
	border:0;
	width:133px; 
	height:150px
}
a{
	cursor: pointer;
	text-decoration: none;
	color: #000;
}
ul{
	margin: 0;
	padding: 0;
}
.arquivos{
	border: 0px solid #000;
	float:left; 
	margin: 3px; 
	padding: 2px;
	text-align:center; 
	width:133px; 
	height:215px; 
	list-style:none;
	word-wrap: break-word;
}

.tituloAlbuns{
	text-align: left;
	font-size: 14px;
	font-family: arial;
	padding: 0 2px 0 2px;	
}
#descricaoAlbum{
	font-size: 14px;
	font-family: Arial;
}
pre{
	margin: 0;
	font-family: Arial;
}
